<h1>Hello World!</h1>
<!--<div id="qr_code_image" class="text-center"></div>-->
<%- include('general.svg')%>
<script>
    $(document).ready(function ()
    {
        console.log("general loaded")
    });
</script>

