<div class="row m-0 mt-1">
    <div class="col-lg-12" style="padding: 0 50px; text-align: center;">
        <%- include('status.svg')%>
    </div>
</div>
<div class="row m-0">
    <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2 mt-4">
        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th style="width: 20%;">Timestamp</th>
                <th style="width: 10%;">Duration</th>
                <th style="width: 10%;">Class</th>
                <th style="width: 10%;">Location</th>
                <th style="width: 20%;">Description</th>
                <th style="width: 20%;">Variable Name</th>
            </tr>
            </thead>
            <tbody id="active_alarm_tbody">
            <tr>
                <td colspan="6">No active alarm to display</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function ()
    {
        $('[data-toggle="tooltip"]').tooltip();
        ipcRenderer.send("get:views", $('#ip_list_dropdown').val(), "status");
        //ipcRenderer.send("get:views", 1, "status");
        console.log(systemCurrentPage)
        //systemLoadPage("General",'general.ejs')

    });
</script>