<div class="row m-0 mt-1">
    <div class="col-lg-12" style="padding: 0 50px; text-align: center;">
        <%- include('status.svg')%>
    </div>
</div>
<div class="row m-0">
    <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2 mt-4">
        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th style="width: 20%;">Timestamp</th>
                <th style="width: 10%;">Duration</th>
                <th style="width: 10%;">Class</th>
                <th style="width: 10%;">Location</th>
                <th style="width: 20%;">Description</th>
                <th style="width: 20%;">Variable Name</th>
            </tr>
            </thead>
            <tbody id="active_alarm_tbody">
            <tr>
                <td colspan="6">No active alarm to display</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    ipcRenderer.on("render:status", function(event, status_result) {
        console.log(status_result);
        let machine_mode = status_result['mode'];
        $("[id*=estop]").css('fill', '#fff');

        let scanner_colors = {"0" : "#f00", "1" : "#808184"};
        let device_colors = {"0" : "#f00", "1" : "#231f20"};

        // console.log(status_result);
        // let alarms_result = status_result['alarms'];
        let devices_result = status_result['devices'];
        // let estops_results = status_result['estops'];
        // //console.log(estops_results);
        //
        // jQuery("#active_alarm_tbody").empty();
        //
        for (let k in devices_result) {
            let related_device_class = "." + k;
            let related_device_status = devices_result[k];

            if($(related_device_class).length > 0) {
                let related_device_color = "#f00";

                if(k == "device-1") {
                    related_device_color = scanner_colors[related_device_status];
                } else {
                    related_device_color = device_colors[related_device_status];
                }

                $(related_device_class).css("fill", related_device_color);
            }
        }
        //
        // if(!jQuery.isEmptyObject(estops_results)) {
        //     //console.log("entered here");
        //     for (let k in estops_results) {
        //         let related_estop_id = "#" + estops_results[k];
        //
        //         if(jQuery(related_estop_id).length > 0) {
        //             jQuery(related_estop_id).css("fill", "#ff0");
        //         }
        //     }
        // }
        //
        // if(!jQuery.isEmptyObject(alarms_result)) {
        //     for (let k in alarms_result) {
        //         let related_alarm_gui_id = k;
        //         let related_alarm_info = alarms_result[k];
        //
        //         let alarm_type = related_alarm_info['alarm_type'],
        //             alarm_description = related_alarm_info['description'],
        //             alarm_class = related_alarm_info['alarm_class'],
        //             alarm_location = related_alarm_info['location'],
        //             variable_name = related_alarm_info['variable_name'],
        //             timestamp = related_alarm_info['timestamp'],
        //             duration = related_alarm_info['duration'];
        //
        //         timestamp = timeConverter(timestamp);
        //
        //         let tr_html = '<tr>' +
        //             '<td>' + timestamp + '</td>'+
        //             '<td>' + secondsToDhms(duration) + '</td>'+
        //             '<td>' + alarm_class_to_names[alarm_class] + '</td>'+
        //             '<td>' + alarm_location + '</td>'+
        //             '<td>' + alarm_description + '</td>'+
        //             '<td>' + variable_name + '</td>'+
        //             '</tr>';
        //
        //         jQuery("#active_alarm_tbody").append(tr_html);
        //     }
        // } else {
        //     let tr_html = '<tr><td colspan="6">No active alarm to display</td></tr>';
        //     jQuery("#active_alarm_tbody").append(tr_html);
        // }
    });
    $(document).ready(function ()
    {
        $('[data-toggle="tooltip"]').tooltip();
        let machineId=$('#ip_list_dropdown').val().substring(0,$('#ip_list_dropdown').val().indexOf('-'));
        ipcRenderer.send("get:views", machineId, "status");
        //ipcRenderer.send("get:views", 1, "status");
        console.log(systemCurrentPage)
        //systemLoadPage("General",'general.ejs')

    });
</script>