<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Shaiful</title>

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="theme/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="theme/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="theme/css/icons_feather.min.css">
    <link rel="stylesheet" type="text/css" href="theme/css/palette-gradient.min.css">
    <link rel="stylesheet" type="text/css" href="theme/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="theme/css/style.css" >

</head>

<body>
    <script>window.$=window.jQuery=require('jquery');</script>
    <script type="text/javascript" src="theme/js/popper.min.js"></script>
    <script type="text/javascript" src="theme/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="theme/js/jquery-qrcode-0.17.0.js"></script>
    <script type="text/javascript" src="theme/js/system-functions.js"></script>
    <script type="text/javascript" src="theme/js/global.js"></script>
    <div id="system_main_container">
        <div class="row">
            <div class="col-lg-12 text-right" style="height: 60px;">
                <img src="resources/bluecrest-logo.png" height="24" class="mr-1 mt-2 mb-3">
            </div>
        </div>
        <%- include('menu.ejs')%>
    </div>
    <script type="text/javascript">
        let systemPages={
            general:{title:'General',file:'general.ejs'},
            status:{title:'Status',file:'status.ejs'},
        }
        let systemCurrentPage='general'
        $(document).ready(function ()
        {
            systemLoadCurrentPage();
            //console.log(currentPage)
            //systemLoadPage("General",'general.ejs')

        });
    </script>
</body>
</html>
