<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Shaiful</title>

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="theme/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="theme/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="theme/css/icons_feather.min.css">
    <link rel="stylesheet" type="text/css" href="theme/css/palette-gradient.min.css">
    <link rel="stylesheet" type="text/css" href="theme/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="theme/css/style.css" >

</head>

<body>
    <script>window.$=window.jQuery=require('jquery');</script>
    <script type="text/javascript" src="theme/js/popper.min.js"></script>
    <script type="text/javascript" src="theme/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="theme/js/jquery-qrcode-0.17.0.js"></script>
    <script type="text/javascript" src="theme/js/global.js"></script>
</body>
</html>
